<mat-card>
    <mat-card-title>
        Alterar Veículo
    </mat-card-title>
    <form>
        <mat-form-field>
           <input matInput placeholder="Nome" 
                 [(ngModel)] = "veiculo.nome" name="nome"> 
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Preço (R$)" 
            [(ngModel)] = "veiculo.preco" name="preco"> 
         </mat-form-field>
    </form>
    <div>
        <button mat-raised-button (click)="updateFruta()" color = "primary">
            Salvar
        </button>
        
        <button mat-raised-button (click)="cancel()" >
            Cancelar
        </button>
    </div>
</mat-card>